.SetupPage .panel {
  display: flex;
  flex-direction: column;
}

.SetupPage label > span {
  display: flex;
  align-items: center;
}

.SetupPage .page > button {
  margin-bottom: 1rem;
}

.PermissionsPanel > label{
  display: flex;
  align-items: center;
}

.PermissionsPanel input[type=text] {
  margin-left: 1rem;
}