.SuggestPanel div.panel {
  display: inline-block;
  border-width: 3px;
  width: 100%;
}

.SuggestPanel div.panel > div:first-child {
  display: flex;
  justify-content: space-between;
}

.SuggestPanel > :last-child {
  margin-top: 0.25rem;
}

/* book display */
.book-display {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.book-display li {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 1rem;
}

.book-display li > :first-child {
  background: none;
  height: 2rem;
  min-width: 2rem;
  max-width: 2rem;
}

.book-display li img {
  height: 100px;
  max-width: 100px;
}

.book-display li > div > * {
  display: -webkit-box;
  /* display: box; */
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-display li > div p {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.book-display li > div .book-author {
  font-weight: 200;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.book-display.box-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.book-display.box-view li {
  display: grid;
  grid-template-columns: 2rem auto 1fr;
  column-gap: 1rem;
  overflow: hidden;
}

.book-display.box-view li > div > * {
  font-size: 1rem;
  width: 100%;
}
