{
  "extends": ["plugin:react-hooks/recommended", "react-app"],
  "rules": {
    "array-bracket-spacing": "error",
    "comma-spacing": "error",
    "indent": ["warn", 2, { "ignoreComments": true, "SwitchCase": 1, "CallExpression": { "arguments": 1 } }],
    "keyword-spacing": ["error", { "after": true, "before": true }],
    "new-cap": "error",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "no-redeclare": ["error", { "builtinGlobals": true }],
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "caughtErrorsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", { "anonymous": "never", "asyncArrow": "always", "named": "never" }],
    "space-in-parens": "error",
    "space-infix-ops": "error"
  }
}
