.VotingPanel .book-candidate {
  display: flex;
  align-items: center;
}

.VotingPanel ul {
  margin: 1rem 0;
}

.book-candidate * {
  text-transform: none;
}

.book-candidate img {
  height: 150px;
  margin: 0 1rem;
}

.book-candidate input {
  width: 3rem;
}