.BookSuggest div.panel {
  display: inline-block;
  border-width: 3px;
  width: 100%;
}

.BookSuggest div.panel > div:first-child {
  display: flex;
  justify-content: space-between;
}

/* book display */
.book-display {
  border-width: 3px !important;
}

.book-display li {
  text-transform: none;
  display: flex;
  align-items: center;
  margin: 5px;
  height: 100px;
}

.book-display li img {
  height: 100px;
  max-width: 100px;
  margin: 0 1rem;
}

.book-display li > *:first-child {
  margin: 0;
  padding: 0;
}

.book-display span {
  margin-right: 1rem;
}

.book-display button {
  background: none;
  height: 2rem;
  min-width: 2rem;
  max-width: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.book-author {
  font-weight: 200;
}

.book-display li p {
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-display li .book-author {
  line-clamp: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-display.box-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book-display.box-view li img {
  margin: 0;
}

.book-display.box-view li p {
  font-size: 1rem;
  width: 100%;
  max-width: calc(16rem - 100px);
}

.book-display.box-view li {
  display: grid;
  grid-template-columns: 2rem auto minmax(12rem, auto);
  column-gap: 1rem;
  max-width: 20rem;
}