.VotingPanel .book-candidate {
  display: flex;
  align-items: center;
}

.VotingPanel ul {
  margin: 1rem 0;
}

.book-candidate * {
  text-transform: none;
}

.book-candidate img {
  height: 100px;
  margin: 0 1rem;
}

.book-candidate input {
  width: 2rem;
  width: clamp(2rem, auto, 4rem);
}

.admin-click {
  text-decoration: underline;
  cursor: pointer;
}

.admin-option {
  padding-top: .7rem;
  font-size: .8rem;
}

.read-only {
  font-size: 0.8rem;
  width: clamp(12rem, 40%, 24rem);
  background: none;
  border: none;
  text-transform: none;
  font-family: 'Fira Pro', monospace;
}

.url-instructions {
  font-size: .8rem;
  margin-bottom: 1rem;
}