@import url('../styles/common.css');

.App {
  background-color: var(--clr-bg);

  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > * {
  width: calc(200px + 40vw);
  min-width: 300px;
  max-width: 95vw;
  width: clamp(300px, calc(200px + 40vw), 95vw);
}

.App > main {
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-width: 8px;
}

main {
  background: var(--clr-fg);
}
