@import url('../styles/common.css');

.App {
  background-color: var(--clr-bg);

  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > * {
  width: 50%;
  min-width: 300px;
  width: clamp(300px, 50%, 1600px);
}

.App > main {
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-width: 8px;
}

main {
  background: var(--clr-fg);
}

