.Header {
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: none;
}

.Header h1 {
  font-size: 2.5rem;
}

.Header nav * {
  margin-left: 0.5rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}