.Header {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: none;
}

.Header h1 {
  font-size: 2.5rem;
  font-family: var(--fnt-serif);
}

.Header nav * {
  font-size: 20px;
  margin-left: 0.5rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.1s;

  &:hover {
    color: white;
  }
}
