@import url('./styles/_normalize.css');
@import url('./styles/_reset.css');

html {
  --color-straw: #ffd97a;
  --color-straw-rgb: 255, 217, 122;
  --color-wheat: #fbeecf;
  --color-wheat-rgb: 251, 238, 207;
  --color-white: #f9f9f9;

  --clr-bg: var(--color-straw);
  --clr-fg: var(--color-white);
  --clr-input: var(--clr-fg);
  --clr-button: var(--clr-fg);
  --clr-line: #000c;

  --border: 2px solid var(--clr-line);

  accent-color: #000c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
